@model string;

@{
    ViewData["Title"] = "Quản lý người dùng";

    // List<AppUser> users = ViewBag.Users;
    // int currentPage = ViewBag.currentPage;
    // int pageSize = ViewBag.pageSize;
    // int total = ViewBag.total;
    // string searchString = ViewBag.SearchString;
    // int index = currentPage * pageSize;

    List<RoomPrice> prices = ViewBag.Prices;
    int index = 0;
    int roomId = ViewBag.RoomId;
}

<link rel="stylesheet" href="~/css/user-manager/user-manager.css" />

<div class="card">
    <div class="card-header">
        <div class="card-title w-100">
            <div class="d-flex gap-2 justify-content-between">
                <span class="d-block">Danh sách giá phòng</span>
                <!-- Search container start -->

                <div class="d-flex gap-2 align-items-center">
                    <div class="" style="width: 200px;">
                        <a asp-action="AddRoomPrice" asp-route-roomId="@roomId" class="ms-2 btn btn-outline-primary w-auto text-nowrap rounded my-auto">Thêm giá phòng</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="card-body">

        <div class="table-responsive">
            <table class="table v-middle">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Giá phòng</th>
                        <th>Ngày áp dụng</th>
                        <th>Ngày kết thúc</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (prices != null && prices.Count() > 0)
                    {
                        @foreach (var u in prices)
                        {
                            <tr>
                                <td>
                                    @(++index)
                                </td>
                                <td>
                                    @(u.Price)
                                </td>
                                <td>@u.ValidFrom</td>

                                <td>@u.GoodThru</td>

                                <td>
                                    <a asp-action="UpdateRoomPrice" asp-route-roomId="@u.RoomId" asp-route-validFrom="@u.ValidFrom">
                                        <span class="fs-4 text-success">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>


    </div>
</div>