@{
    ViewData["Title"] = "Quản lý khách sạn";
    List<Hotel> hotels = ViewBag.Hotel;
    List<string> listImgs = ViewBag.Imgs;
    string baseImgUrl = ViewBag.BaseImgUrl;
    int n = hotels.Count();
}


<div class="card">
    <div class="card-header">
        <div class="card-title w-100">
            <div class="d-flex gap-2 justify-content-between">
                <span class="d-block">Danh sách chi nhánh</span>
                <!-- Search container start -->
                <form class="search-container" asp-action="Index">
                    <div class="d-flex gap-2 align-items-center">
                        <!-- Search input group start -->
                        <div class="input-group border border-2 rounded">
                            <input type="text" asp-for="@Model" name="searchString" class="form-control" placeholder="Nhập tên chi nhánh">
                            <button class="btn" type="submit">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                        <!-- Search input group end -->
                        <div class="" style="width: 200px;">
                            <a asp-action="AddHotel" class="ms-2 btn btn-outline-primary w-auto text-nowrap rounded my-auto">Thêm chi nhánh</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="card-body">
        <div class="table-responsive">
            <table class="table v-middle">
                <thead>
                    <tr>
                        <th class="w-25">Hình ảnh</th>
                        <th>Tên khách sạn</th>
                        <th>Địa chỉ</th>
                        <th>Ngày đăng</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>

                    @if (hotels.Count() > 0)
                    {
                        @for (int i = 0; i < n; i++)
                        {
                            <tr class="fs-6">
                                <td>
                                    <div class="media-box">

                                        @if (listImgs[i] != "")
                                        {
                                            <img src="@(baseImgUrl + hotels[i].PhotoPath)/@listImgs[i]" class="media-avatar img-fluid d-block mx-auto" style="height: 200px;" alt="Bootstrap Gallery">
                                        }
                                        else
                                        {
                                            <img src="@(baseImgUrl)/no-image.jpg" class="media-avatar img-fluid d-block mx-auto" style="height: 200px;" alt="Bootstrap Gallery">
                                        }
                                    </div>
                                </td>
                                <td>@hotels[i].HotelName</td>
                                <td>@hotels[i].Address</td>
                                <td>
                                    <span class="">@hotels[i].PostingDate</span>
                                </td>
                                <td>
                                    <a asp-action="UpdateHotel" asp-route-hotelId="@hotels[i].Id">
                                        <span class="fs-4 text-success">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </span>
                                    </a>
                                    <a asp-controller="Room" asp-action="Index" asp-route-hotelId="@hotels[i].Id">
                                        <span class="fs-4 text-info">
                                            <i class="fa-solid fa-door-closed"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>

</div>