@{

    ViewData["Title"] = "Tìm kiếm tour";
    // List<Tour> tours = ViewBag.tourList;
    // string baseImgUrl = ViewBag.BaseImgUrl;
    // List<double> prices = ViewBag.prices;

    City city = ViewBag.city;
    int categoryId = ViewBag.CategoryId;
}

<link rel="stylesheet" href="~/css/search-tours/custom-tour.css" />

<div class="container-fluid">
    <!-- search -->
    <div class="mt-2">
        <!--input-->
        <div class="card m-0">
            <div class="card-body" >
                <!-- search -->
                <form asp-action="SearchTours" asp-controller="Home" method="get"
                      class="input-group w-50 mx-auto mb-2 d-flex justify-content-center align-items-center gap-2">
                    <select name="cityName" id="searchSelect" class="form-control search-location-custom" style="height:40px">
                        <option value=""></option>
                    </select>
                    <button  type="submit" class="btn btn-primary rounded"
                            style="border-left: none; height: 30px ; width: 100px; display:flex; align-items: center; justify-content: center">
                        <span>Tìm</span>
                    </button>
                </form>

                <!-- loai tour -->
                <div class="tour-type-container">
                    <div class="tour-type-filter d-flex justify-content-between align-items-center">
                        <div class="@(categoryId == -1 ? "tour-actived" : "") activity-item w-auto d-inline-block w-auto">
                            <a class="fs-6 btn rounded-5 px-2 py-1"
                               data-mdb-ripple-init
                               style="color: gray; font-weight: 500"
                               asp-action="SearchTourByCategory" asp-route-categoryId="-1" asp-route-cityId="@city.Id">
                                <i class="bi bi-x-diamond-fill"></i>
                                Tất cả
                            </a>
                        </div>

                        <div class="@(categoryId == 1 ? "tour-actived" : "") activity-item w-auto d-inline-block w-auto">
                            <a class="fs-6 btn rounded-5 px-2 py-1"
                               data-mdb-ripple-init
                               role="button" asp-action="SearchTourByCategory" asp-route-categoryId="1" asp-route-cityId="@city.Id">
                                <i class="bi bi-pci-card"></i>
                                Chuyến tham quan
                            </a>
                        </div>

                        <div class="@(categoryId == 2 ? "tour-actived" : "") activity-item w-auto d-inline-block w-auto">
                            <a class="fs-6 btn rounded-5 px-2 py-1"
                               data-mdb-ripple-init
                               role="button" asp-action="SearchTourByCategory" asp-route-categoryId="2" asp-route-cityId="@city.Id">
                                <i class="bi bi-sun-fill"></i>
                                Ngoài trời
                            </a>
                        </div>

                        <div class="@(categoryId == 3 ? "tour-actived" : "") activity-item w-auto d-inline-block w-auto">
                            <a class="fs-6 btn rounded-5 px-2 py-1"
                               data-mdb-ripple-init
                               role="button" asp-action="SearchTourByCategory" asp-route-categoryId="3" asp-route-cityId="@city.Id">
                                <i class="bi bi-projector"></i>
                                Di chuyển
                            </a>
                        </div>

                        <div class="@(categoryId == 4 ? "tour-actived" : "") activity-item w-auto d-inline-block w-auto">
                            <a class="fs-6 btn rounded-5 px-2 py-1"
                               data-mdb-ripple-init
                               role="button" asp-action="SearchTourByCategory" asp-route-categoryId="4" asp-route-cityId="@city.Id">
                                <i class="bi bi-egg-fried"></i>
                                Ẩm thực
                            </a>
                        </div>

                        <div class="@(categoryId == 5 ? "tour-actived" : "") activity-item w-auto d-inline-block w-auto">
                            <a class="fs-6 btn rounded-5 px-2 py-1 d-block"
                               data-mdb-ripple-init
                               role="button" asp-action="SearchTourByCategory" asp-route-categoryId="5" asp-route-cityId="@city.Id">
                                <i class="bi bi-geo-alt-fill"></i>
                                Điểm tham quan
                            </a>
                        </div>

                        <div class="@(categoryId == 6 ? "tour-actived" : "") activity-item w-auto d-inline-block w-auto">
                            <a class="fs-6 btn rounded-5 px-2 py-1"
                               data-mdb-ripple-init
                               role="button" asp-action="SearchTourByCategory" asp-route-categoryId="6" asp-route-cityId="@city.Id">
                                <i class="bi bi-stars"></i>
                                Sự kiện
                            </a>
                        </div>

                        <div class="@(categoryId == 7 ? "tour-actived" : "") activity-item w-auto d-inline-block w-auto">
                            <a class="fs-6 btn rounded-5 px-2 py-1"
                               data-mdb-ripple-init
                               role="button" asp-action="SearchTourByCategory" asp-route-categoryId="7" asp-route-cityId="@city.Id">
                                <i class="bi bi-suit-heart-fill"></i>
                                Sức khỏe
                            </a>
                        </div>

                        <div class="@(categoryId == 8 ? "tour-actived" : "") activity-item w-auto d-inline-block w-auto">
                            <a class="fs-6 btn rounded-5 px-2 py-1"
                               data-mdb-ripple-init
                               role="button" asp-action="SearchTourByCategory" asp-route-categoryId="8" asp-route-cityId="@city.Id">
                                <i class="bi bi-ethernet"></i>
                                Văn hóa
                            </a>
                        </div>

                        <div class=" @(categoryId == 9 ? "tour-actived" : "") activity-item w-auto d-inline-block w-auto">
                            <a class="fs-6 btn rounded-5 px-2 py-1 d-block"
                               data-mdb-ripple-init
                               role="button" asp-action="SearchTourByCategory" asp-route-categoryId="9" asp-route-cityId="@city.Id">
                                <i class="bi bi-house-fill"></i>
                                Trong nhà
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tour-content mt-2">
            <div class="row">
            @*     <div class="col-md-3 d-md-block d-none ">
                    <div class="content-sidebar card border rounded-4">
                        <!-- sắp xếp -->
                        <div class="sort-tour">
                            <div class="card-header">
                                <div class="card-title">Sắp xếp</div>
                            </div>

                            <div class="card-body">
                                <div class="form-check">
                                    <input class="form-check-input"
                                           type="radio"
                                           name="flexRadioDefault"
                                           id="flexRadioDefault1" />
                                    <label class="form-check-label" for="flexRadioDefault1">Được ưa chuộng</label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input"
                                           type="radio"
                                           name="flexRadioDefault"
                                           id="flexRadioDefault1" />
                                    <label class="form-check-label" for="flexRadioDefault1">Giá thấp nhất trước</label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input"
                                           type="radio"
                                           name="flexRadioDefault"
                                           id="flexRadioDefault1" />
                                    <label class="form-check-label" for="flexRadioDefault1">Xếp hạng cao nhất trước</label>
                                </div>
                            </div>
                        </div>

                        <!-- giá -->
                        <div class="price-tour">
                            <div class="sort-tour p-2">
                                <div class="card-header">
                                    <div class="card-title">Giá</div>
                                </div>

                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <label class="form-label" for="customRange1"><span id="price-label">0 </span><span>VNĐ</span></label>
                                        <label class="form-label" for="customRange1">20.000.000 VNĐ</label>
                                    </div>
                                    <div class="range" data-mdb-range-init>
                                        <input onchange="onChangePrice()" id="range-price" type="range" class="form-range" value="0" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- đánh giá sao -->
                        <div class="price-tour">
                            <div class="sort-tour p-2">
                                <div class="card-header">
                                    <div class="card-title">Đánh giá sao</div>
                                </div>

                                <div class="card-body">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label text-warning" for="flexCheckDefault">
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                        </label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label text-warning" for="flexCheckDefault">
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                        </label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label text-warning" for="flexCheckDefault">
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                        </label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label text-warning" for="flexCheckDefault">
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                        </label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label text-warning" for="flexCheckDefault">
                                            <i class="bi bi-star-fill"></i>
                                        </label>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- danh mục -->
                        <!-- đánh giá sao -->
                        <div class="price-tour">
                            <div class="sort-tour p-2">
                                <div class="card-header">
                                    <div class="card-title">Danh mục</div>
                                </div>

                                <div class="card-body">
                                    <div class="form-check d-flex justify-content-start align-items-center py-2 border-bottom">
                                        <input class="form-check-input"
                                               type="radio"
                                               name="flexRadioDefault"
                                               id="flexRadioDefault1" />
                                        <label class="form-check-label fs-6" for="flexRadioDefault1">Tất cả</label>
                                    </div>

                                    <div class="form-check d-flex justify-content-start align-items-center py-2 border-bottom">
                                        <input class="form-check-input"
                                               type="radio"
                                               name="flexRadioDefault"
                                               id="flexRadioDefault1" />
                                        <label class="form-check-label fs-6" for="flexRadioDefault1">Chuyến tham quan</label>
                                    </div>

                                    <div class="form-check d-flex justify-content-start align-items-center py-2 border-bottom">
                                        <input class="form-check-input"
                                               type="radio"
                                               name="flexRadioDefault"
                                               id="flexRadioDefault1" />
                                        <label class="form-check-label fs-6" for="flexRadioDefault1">Ngoài trời</label>
                                    </div>

                                    <div class="form-check d-flex justify-content-start align-items-center py-2 border-bottom">
                                        <input class="form-check-input"
                                               type="radio"
                                               name="flexRadioDefault"
                                               id="flexRadioDefault1" />
                                        <label class="form-check-label fs-6" for="flexRadioDefault1">Di chuyển</label>
                                    </div>

                                    <div class="form-check d-flex justify-content-start align-items-center py-2 border-bottom">
                                        <input class="form-check-input"
                                               type="radio"
                                               name="flexRadioDefault"
                                               id="flexRadioDefault1" />
                                        <label class="form-check-label fs-6" for="flexRadioDefault1">Ẩm thực</label>
                                    </div>

                                    <div class="form-check d-flex justify-content-start align-items-center py-2 border-bottom">
                                        <input class="form-check-input"
                                               type="radio"
                                               name="flexRadioDefault"
                                               id="flexRadioDefault1" />
                                        <label class="form-check-label fs-6" for="flexRadioDefault1">Điểm tham quan</label>
                                    </div>

                                    <div class="form-check d-flex justify-content-start align-items-center py-2 border-bottom">
                                        <input class="form-check-input"
                                               type="radio"
                                               name="flexRadioDefault"
                                               id="flexRadioDefault1" />
                                        <label class="form-check-label fs-6" for="flexRadioDefault1">Sự kiện</label>
                                    </div>

                                    <div class="form-check d-flex justify-content-start align-items-center py-2 border-bottom">
                                        <input class="form-check-input"
                                               type="radio"
                                               name="flexRadioDefault"
                                               id="flexRadioDefault1" />
                                        <label class="form-check-label fs-6" for="flexRadioDefault1">Sức khỏe</label>
                                    </div>

                                    <div class="form-check d-flex justify-content-start align-items-center py-2 border-bottom">
                                        <input class="form-check-input"
                                               type="radio"
                                               name="flexRadioDefault"
                                               id="flexRadioDefault1" />
                                        <label class="form-check-label fs-6" for="flexRadioDefault1">Văn hóa</label>
                                    </div>

                                    <div class="form-check d-flex justify-content-start align-items-center py-2 border-bottom">
                                        <input class="form-check-input"
                                               type="radio"
                                               name="flexRadioDefault"
                                               id="flexRadioDefault1" />
                                        <label class="form-check-label fs-6" for="flexRadioDefault1">Trong nhà</label>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div> *@

                <div class="col-12">
                    <div class="card border rounded-4">
                        <!--<div class="card-header">
                            <div class="card-title">Product List</div>
                            <div class="ml-auto">
                                <a href="view-cart.html" class="btn btn-dark"><span class="badge shade-red me-2">2</span>View
                                    Cart</a>
                            </div>
                        </div>-->
                        @Html.Partial(@"~/Views/Shared/partials/_ListTourPartial.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>




<script src="~/js/search-tours/custom-tour.js"></script>

@section Scripts
{
    <script>
        const defaultName = "@Html.Raw(city.Name)";
        $(document).ready(function () {
            let cityNames = [];
            $.ajax({
                url: '@Url.Action("GetAllCities", "City")',
                type: 'GET',
                dataType: 'json',
                data: { key: 'value' },
                success: function (data) {

                    cityNames = data.cityNames;
                    $("#searchSelect").select2({
                        data: cityNames,
                        placeholder: defaultName,
                        allowClear: true
                    });



                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Xử lý lỗi
                    console.log('AJAX Error:', textStatus, errorThrown);

                    // Chi tiết lỗi từ đối tượng jqXHR
                    console.log('Status Code:', jqXHR.status);
                    console.log('Response Text:', jqXHR.responseText);
                }
            });
        });
    </script>
}