@model Booking.Models.Tour

@{
    ViewData["Title"] = "Thông tin chi tiết";

    var schedules = Model.Schedule.Split("~~");
    string baseImgUrl = "https://localhost:7231/resources/images";
    // string baseImgUrl = "https://localhost:44335/resources/images";
    string[] imgUrls = ViewBag.ImgUrls;

    List<Package> packages = ViewBag.Packages;
}


<link rel="stylesheet" href="~/css/Tour/details.css">

<div class="content-wrapper-scroll ">
    <!-- anh -->
    <div class="row justify-content-center row-custom">
        <div class="col-11">
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active img-container">
                        <img src="@baseImgUrl/@imgUrls[0]" class="d-block img-tour" alt="no-ing">
                    </div>

                    @for (int i = 1; i < imgUrls.Length; i++)
                    {
                        <div class="carousel-item img-container">
                            <img src="@baseImgUrl/@imgUrls[i]" class="d-block img-tour" alt="no-ing">
                        </div>
                    }
                </div>
                <button class="carousel-control-prev bg-secondary" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next bg-secondary" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-12 d-flex justify-content-center ">
        <div class="wrapper card date" style="width: 90%; height: 100%">
            <div class="card-header">
                <div class="card-title fs-4 fw-bold">@Model.TourName</div>
            </div>
        </div>
    </div>

    <!-- thong tin khac -->
    <div class="col-lg-12 col-12 d-flex justify-content-center ">

        <div class="wrapper card date" style="width: 90%; height: 100%">
            <div class="card-header">
                <div class="card-title">Địa điểm khởi hành và trở về</div>
            </div>

            <div class="card-body  ">
                <div class="m-0 ">
                    <ul>
                        <li><i class="fa-solid fa-location-dot" style="color: #3b82f6"></i> Địa điểm đón khách: <strong>@Model.DepartureLocation</strong></li>
                        <li><i class="fa-solid fa-location-dot" style="color: #e11d48"></i> Địa kiểm trả khách: <strong>@Model.DropOffLocation</strong></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--Tong quan-->
    <div class="col-lg-12 col-12 d-flex justify-content-center ">
        <div class="wrapper card date" style="width: 90%; height: 100%">
            <div class="card-header">
                <div class="card-title">Tổng quan</div>
            </div>

            <div class="card-body  ">
                <div class="m-0 ">
                    @Model.Overview
                </div>
            </div>
        </div>
    </div>

    <!-- lịch trình -->
    <div class=" col-xl-12 col-12 d-flex justify-content-center">
        <!-- Card start -->
        <div class="card" style="width: 90%; height: 100%">

            <div class="card-header ">
                <div class="card-title">Lịch trình</div>
            </div>

            <div class="card-body " style="width: 100%; height: 100%">
                <div class="scroll300 img" style="width: 100%; height: 250%">
                    <div class="timeline-activity" style="width: 100%; height: auto !important">
                        @if (schedules.Length < 0)
                        {
                            <div class="activity-log">
                                <div class="log-details">
                                    Tạm thời chưa có lịch trình
                                </div>
                            </div>
                        }
                        else
                        {
                            @for (int i = 0; i < schedules.Length; i++)
                            {
                                string[] scheduleDetails = schedules[i].Split("\n");
                                <div class="activity-log">
                                    @foreach (var item in scheduleDetails)
                                    {
                                        if (item.StartsWith("~"))
                                        {
                                            <p class="log-name">@item.Substring(1)</p>
                                        }
                                        else if (item != "")
                                        {
                                            <div class="log-details">
                                                @item
                                            </div>
                                        }
                                    }
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <!-- Card end -->
    </div>

    <div class="text-center"><h4 class="">Các lựa chọn gói</h4></div>

    <!-- Các lựa chọn gói-->
    @if (packages.Count() == 0)
    {
        <div class=" col-xl-12 col-12 d-flex justify-content-center">
            <div class="wrapper card" style="width: 90%; height: 100%">
                <div class="card-body " style="width: 100%; height: 100%">
                    <div class="scroll300 img" style="width: 100%; height: 100%">
                        <div class="timeline-activity" style="width: 100%; height: 100%">
                            Hiện tại chưa có gói nào
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        @foreach (var package in packages)
        {
            <div class="col-xl-12 col-12 d-flex justify-content-center">
                <div class="wrapper card rounded-4 date sd" style="width: 90%; height: 100%">
                    <div class="card-header">
                        <div class="card-title">@package.PackageName</div>
                    </div>
                    <div class="card-header">
                        <div class="card-title"><p class="mb-3">Mô tả: @package.Description</p></div>
                    </div>
                    <div class="card-body" style="width: 100%; height: 100%">
                        @if (package.PackagePrices != null)
                        {
                            <p class="mb-3 font-bold fs-6">Giá gói</p>
                            @foreach (var price in package.PackagePrices)
                            {
                                <div class=" border-2 border-bottom">
                                    <div class="product-description">
                                        <i class="fa-solid fa-money-check" style="color:#fcd34d"></i>
                                        Giá cho người lớn: <strong>@price.AdultPrice VNĐ</strong>
                                    </div>

                                    <div class="product-description">
                                        <i class="fa-solid fa-money-check" style="color: #fcd34d"></i>
                                        Giá cho trẻ nhỏ: <strong>@price.ChildPrice VNĐ</strong>
                                    </div>
                                    <div class="w-100 " style="display:flex">
                                        <a class="btn btn-primary w-50 mx-auto rounded-pill mt-3 mb-2" asp-action="booktour" asp-route-packageId=@package.PackageID>Chọn Gói</a>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        }
    }
</div>