@model BusinessPartner
@{
	ViewData["Title"] = "Thông tin đối tác";

	List<AppUser> agentHotels = ViewBag.AgentHotels;
	int partnerId = ViewBag.PartnerId;
}


<div class="card">
	<div class="card-body">
		<div class="row">

			<div class="mx-auto col-sm-6 col-12">
				<div class="card-border">
					<div class="card-border-title">Thêm thông tin đối tác</div>
					<div class="card-border-body">

						<div class="row">

							<div class="col-sm-6 col-12">
								<div class="mb-3">
									<label asp-for="PartnerName" class="form-label"></label>
									<input asp-for="PartnerName" type="text" class="form-control" readonly>
								</div>
							</div>

							<div class="col-sm-6 col-12">
								<div class="mb-3">
									<label asp-for="PhoneNumber" class="form-label"></label>
									<input asp-for="PhoneNumber" type="text" class="form-control" readonly>
								</div>
							</div>
							<div class="col-sm-12 col-12">
								<div class="mb-3">
									<label asp-for="Email" class="form-label"></label>
									<input asp-for="Email" type="text" class="form-control"  readonly>
								</div>
							</div>
							<div class="col-sm-12 col-12">
								<div class="mb-0">
									<label asp-for="Address" class="form-label"></label>
									<textarea asp-for="Address" rows="4" class="form-control"
											   readonly></textarea>
								</div>
							</div>

							<div class="col-sm-12 col-12">
								<div class="custom-btn-group flex-end">
									<button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Xóa đối tác</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="mx-auto col-sm-6 col-12">
				<div class="card-border">
					<div class="card-border-title">Danh sách tài khoản đã cấp</div>
					<div class="card-border-body">
						<div class="row">
							<div class="col-sm-12 col-12" style="height: 414px; max-height: 414px; overflow-y:scroll;">
								<div class="table-responsive">
									<table class="table v-middle">
										<thead>
											<tr>
												<th>Tên</th>
												<th>Email</th>
												<th>Số điện thoại</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											@if (agentHotels != null && agentHotels.Count() > 0)
											{
												@foreach (var agentHotel in agentHotels)
												{
													<tr>
														<td>
															@agentHotel.FirstName @agentHotel.LastName
 														</td>
														<td>@agentHotel.Email</td>
														<td>@agentHotel.PhoneNumber</td>

														<td>
															<a asp-action="AgentDetail" asp-route-agentId="@agentHotel.Id">
																<span class="fs-4 text-danger">
																	<i class="fa-solid fa-circle-info"></i>
																</span>
															</a>
														</td>
													</tr>
												}
											}
										</tbody>
									</table>
								</div>
							</div>

							<div class="col-sm-12 col-12">
								<div class="custom-btn-group flex-end">
									<a asp-action="AddAccount" asp-route-partnerId="@partnerId" class="btn btn-primary">Thêm tài khoản</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>

	</div>
</div>

@await Html.PartialAsync("partials/_DeleteModal",$"Xóa người dùng,{Model.PartnerName},,{Model.Id},partner")
