
@{
    ViewData["Title"] = "Quản lý đối tác khách sạn";

    List<BusinessPartner> businessPartners = ViewBag.Partners;
    int currentPage = ViewBag.currentPage;
    int pageSize = ViewBag.pageSize;
    int total = ViewBag.total;
    string searchString = ViewBag.SearchString;
    int index = currentPage * pageSize;
}

<link rel="stylesheet" href="~/css/user-manager/user-manager.css" />

<div class="card">

    <div class="card-header">
        <div class="card-title w-100 ">
            <div class="d-flex gap-2 justify-content-between">
                <span class="d-block">Danh sách người dùng</span>
                <!-- Search container start -->
                <form class="search-container" asp-action="Index">
                    <div class="d-flex gap-2 align-items-center">
                        <!-- Search input group start -->
                        <div class="input-group border border-2 rounded">
                            <input type="text" asp-for="@Model" name="searchString" class="form-control" placeholder="Nhập tên đối tác">
                            <button class="btn" type="submit">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                        <!-- Search input group end -->
                        <div class="" style="width: 200px;">
                            <a asp-action="AddBusiness" class="ms-2 btn btn-outline-primary  rounded my-auto">Thêm đối tác</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="card-body">

        <div class="table-responsive">
            <table class="table v-middle">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tên</th>
                        <th>Địa chỉ</th>
                        <th>Email</th>
                        <th>Số điện thoại</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (businessPartners != null && businessPartners.Count() > 0)
                    {
                        @foreach (var partner in businessPartners)
                        {
                            <tr>
                                <td>
                                    @(++index)
                                </td>
                                <td>
                                    @partner.PartnerName
                                </td>
                                <td>@partner.Address</td>
                                <td>@partner.Email</td>
                                <td>@partner.PhoneNumber</td>
                                
                                <td>
                                    <a asp-action="Detail" asp-route-partnerId="@partner.Id">
                                        <span class="fs-4 text-danger">
                                            <i class="fa-solid fa-circle-info"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        @* pagination *@
        <nav aria-label="col-12 Page navigation">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" aria-label="Previous" asp-area="Admin" asp-controller="AgentHotelManager" asp-action="Index" asp-route-currentPage="@(currentPage - 1)" asp-route-searchString="@Model">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                @if (currentPage <= 1)
                {
                    <li class="page-item">
                        <a class="page-link  @(currentPage == 0 ? "actived" : "")" asp-area="Admin" asp-controller="AgentHotelManager" asp-action="Index" asp-route-currentPage="0" asp-route-searchString="@Model">
                            1
                        </a>
                    </li>

                    <li class="page-item"><a class="page-link @(currentPage == 1 ? "actived" : "")" asp-area="Admin" asp-controller="AgentHotelManager" asp-action="Index" asp-route-currentPage="1" asp-route-data="@Model" asp-route-searchString="@Model">2</a></li>

                    <li class="page-item"><a class="page-link " asp-area="Admin" asp-controller="AgentHotelManager" asp-action="Index" asp-route-currentPage="2" asp-route-searchString="@Model">3</a></li>
                }
                else
                {
                    @for (int i = currentPage - 1; i <= currentPage + 1; i++)
                    {
                        if (i > 0 && i <= total)
                        {
                            <li class="page-item"><a class="page-link @(currentPage == i ? "actived" : "") " asp-area="Admin" asp-controller="AgentHotelManager" asp-action="Index" asp-route-currentPage="@i" asp-route-searchString="@Model">@(i + 1)</a></li>
                        }
                    }
                }

                <li class="page-item">
                    <a class="page-link" aria-label="Next" asp-area="Admin" asp-controller="AgentHotelManager" asp-action="Index" asp-route-currentPage="@(currentPage + 1)" asp-route-searchString="@Model">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

