@model Booking.Models.Tour

@{
    ViewData["Title"] = "Thêm tour";
    string postId = ViewBag.UserId;
    string baseImgUrl = "https://localhost:7231/resources/images";
    string[] imgUrls = ViewBag.ImgUrls;
    List<int> tourCategories = ViewBag.TourCategories;
    List<Category> categories = ViewBag.Categories;
}

<link rel="stylesheet" href="~/css/Tour/edit.css">

<div class="card">
    <div class="card-header">
        <div class="card-title">Chỉnh sửa</div>
    </div>

    <div class="card-body">

        <form method="post" asp-area="AgentTour" asp-controller="Tours" asp-action="Edit" enctype="multipart/form-data">
            <div class="row">
                <div class="col-sm-6 col-12">
                    <div class="card-border">
                        <div class="card-border-title">Thông tin</div>
                        <div class="card-border-body">

                            <div class="row">
                                <div class="col-sm-12 col-12">
                                    <div class="mb-3">
                                        <label asp-for="TourName" class="form-label"></label> <span class="text-red">*</span>
                                        <input asp-for="TourName" type="text" class="form-control" placeholder="Nhập tên tour">
                                        <span asp-validation-for="TourName" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-12">
                                    <div class="mb-3">
                                        <label asp-for="TourAddress" class="form-label"></label> <span class="text-red">*</span>
                                        <input asp-for="TourAddress" type="text" class="form-control" placeholder="Nhập địa chỉ tour">
                                        <span asp-validation-for="TourAddress" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-12">
                                    <div class="mb-0">
                                        <label asp-for="Overview" class="form-label"></label> <span class="text-red">*</span>
                                        <textarea asp-for="Overview" rows="4" class="form-control" placeholder="Nhập tổng quan"></textarea>
                                        <span asp-validation-for="Overview" class="text-danger"></span>
                                    </div>
                                </div>

                                <input type="hidden" asp-for="PosterID" value="@postId" />
                                <input type="hidden" name="id" value="@Model.TourId" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-12">
                    <div class="card-border">
                        <div class="card-border-title">Thông tin tiếp</div>
                        <div class="card-border-body">

                            <div class="row">
                                <div class="col-sm-6 col-12">
                                    <div class="mb-3">
                                        <label asp-for="DepartureLocation" class="form-label"></label> <span class="text-red">*</span>
                                        <input asp-for="DepartureLocation" type="text" class="form-control" placeholder="Nhập địa điểm đón khách">
                                        <span asp-validation-for="DepartureLocation" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-12">
                                    <div class="mb-3">
                                        <label asp-for="DropOffLocation" class="form-label"></label> <span class="text-red">*</span>
                                        <input asp-for="DropOffLocation" type="text" class="form-control" placeholder="Nhập địa điểm trả khách">
                                        <span asp-validation-for="DropOffLocation" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-12">
                                    <div class="mb-0">
                                        <label asp-for="Schedule" class="form-label"></label> <span class="text-red">*</span>
                                        <textarea asp-for="Schedule" rows="4" class="form-control" placeholder="Địa điểm thứ 1&#10;Địa điểm thứ 2&#10;Địa điểm thứ 3"></textarea>
                                        <span asp-validation-for="Schedule" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-12">
                                    <div class="mb-3">
                                        <label class="form-label">Loại tour <span class="text-red">*</span></label>
                                        <select name="tourCategoryIds" class="form-control" multiple>
                                            @foreach (var category in categories)
                                            {
                                                @if (tourCategories.Contains(category.CategoryId))
                                                {
                                                    <option value="@category.CategoryId" selected>@category.CategoryName</option>
                                                } else
                                                {
                                                    <option value="@category.CategoryId">@category.CategoryName</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-12">
                    <div class="card-border">
                        <div class="card-border-title">Ảnh</div>
                        <div class="card-border-body">
                            <div id="dropzone" class="dropzone-dark">
                                <input onchange="onSelectFile()" accept=".jpg, .png" id="fileInputs" name="fileInputs" type="file" class="form-control mb-2" multiple />
                                <div id="img-container" class="board-grid">
                                    @foreach (var url in imgUrls)
                                    {
                                        <div class="img-container">
                                            <img class="img-tour" src="@baseImgUrl/@url" />
                                        </div>
                                    }
                                </div>
                                <button onclick="deleteAllImg()" type="button" class="btn btn-warning">Xóa hết ảnh</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-12">
                    <div class="custom-btn-group flex-end">
                        @* <button type="button" class="btn btn-light">Cancel</button> *@
                        <button type="submit" class="btn btn-success">Lưu</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script defer>

    function onSelectFile() {
        const fileInputs = document.getElementById('fileInputs');
        const imgContainer = document.getElementById('img-container');

        if (fileInputs.files.length > 0) {
            imgContainer.innerHTML = '';

            for (let file of fileInputs.files) {
                var imgDiv = document.createElement('div');
                imgDiv.classList.add('img-container');
           

                var imageUrl = URL.createObjectURL(file);
                var imgElement = document.createElement('img');
                imgElement.src = imageUrl;
                imgElement.classList.add('img-tour');

                imgDiv.appendChild(imgElement);
                imgContainer.appendChild(imgDiv)
            }
        }
    }

    function deleteAllImg() {
        const imgContainer = document.getElementById('img-container');
        const fileInputs = document.getElementById('fileInputs');
        fileInputs.value = '';

        imgContainer.innerHTML = `<span class="note needsclick">
                        (This is just a demo dropzone. Selected files are
                        <strong>not</strong> actually uploaded.)
                    </span>`
    }

</script>