@model IEnumerable<Booking.Models.Tour>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-area="AgentTour" asp-action="Error" asp-controller="agent-tour-managent" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TourName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TourAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Overview)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DropOffLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotoPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TourTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Poster)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Approver)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TourName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TourAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Overview)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Schedule)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DropOffLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhotoPath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TourTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovalDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Poster.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Approver.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TourId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TourId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TourId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
